/* Blog Styles */

/* Hero Section */
.hero {
    position: relative;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-3d-puntos-que-fluyen_1048-11984.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: center;
    /* background-color: black; */
    text-align: center;
    padding: 150px 0;
    color: #ffffff;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.hero h2,
.hero p {
    margin: 0 auto;
    max-width: 600px;
    color: #ffffff;
}

/* Blog Container */
.blog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #f0f0f0c1;
}

/* Blog Post Styles */
.blog-post {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-post:hover img {
    transform: scale(1.1);
}

.blog-post h3 {
    margin-top: 0;
    color: #333;
}

.blog-post p {
    line-height: 1.6;
    color: #555;
}

/* Read More Button */
.read-more-btn {
    display: inline-block;
    background-color: #ed4624;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.read-more-btn:hover {
    background-color: #ff7e3f;
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
    .blog-post {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .blog-post {
        width: 100%;
    }
}
