{% extends "layout.html" %}
<!-- Aplica lo guardado en layout.html -->

{% block content %}
<!-- Inicia el contenido de la página -->

<link rel="stylesheet" href="blog.css">

<!-- Hero Section -->
<section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h2>Explora nuestro Blog</h2>
        <p>Descubre las últimas novedades y consejos en nuestra área de expertise.</p>
    </div>
</section>

<!-- Blog Container -->
<div class="blog-container">
    <!-- Blog Post 1 -->
    <div class="blog-post">
        <img src="static/working.png" alt="Blog Image 1">
        <h3>Título del Blog Post</h3>
        <p>Descripción corta del contenido del blog.</p>
        <a href="#" class="read-more-btn">Leer Más</a>
    </div>

    <!-- Blog Post 2 -->
    <div class="blog-post">
        <img src="static/working.png" alt="Blog Image 2">
        <h3>Otro Título del Blog</h3>
        <p>Contenido interesante y relevante sobre un tema específico. ¡Mantente informado!</p>
        <a href="#" class="read-more-btn">Leer Más</a>
    </div>

    <!-- Blog Post 3 -->
    <div class="blog-post">
        <img src="static/working.png" alt="Blog Image 3">
        <h3>Último Título del Blog</h3>
        <p>Consejos, trucos y noticias que te mantendrán actualizado en nuestra industria.</p>
        <a href="#" class="read-more-btn">Leer Más</a>
    </div>
</div>

{% endblock %}    
<!-- Termina el contenido de la página -->
