/* Variables globales */
:root {
    --fuenteHeading: 'Arial', sans-serif;
    --fuenteParrafos: 'Arial', sans-serif;
    --secundario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --primario: #000000;
    --rojo: #ed4624;
}


/* Reset y estilos globales */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Contenedor principal */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

/* Enlaces */
a {
    text-decoration: none;
}

/* Encabezados */
h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
    margin-bottom: 3%;
    margin-top: 2%;
}

h4 {
    font-size: 2.8rem;
}

/* Imágenes */
.blog img {
    max-width: 100%;
    border-radius: 1%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/* Barra de navegación */
.barra {
    padding-top: 4rem;
}

.navegacion {
    display: flex;
    gap: 2rem;
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

/* Sección principal */
.contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

/* Entradas del blog */
.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

/* Botón */
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--secundario);
}

.boton--secundario {
    background-color: var(--primario);
}

/* Cursos */
.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
}

.widget-curso__info {
    font-weight: 400;
}

/* Sección de héroe */
.hero {
    position: relative;
    background-image: url('static/banner.jpg');
    text-align: center;
    padding: 150px 0;
    color: #ffffff;
    overflow: hidden;
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.hero h2,
.hero p {
    margin: 0 auto;
    max-width: 600px;
    color: #ffffff;
}

/* Contenedor del blog */
.blog-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #f0f0f0c1;
}

/* Estilos de las entradas del blog */
.blog-post {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-post:hover img {
    transform: scale(1.1);
}

.blog-post h3 {
    margin-top: 0;
    color: #333;
}

.blog-post p {
    line-height: 1.6;
    color: #555;
}

/* Botón de Leer más */
.read-more-btn {
    display: inline-block;
    background-color: #ed4624;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.read-more-btn:hover {
    background-color: #ff7e3f;
}

.sidebar {
    margin-top: 7%;
}
.sidebar-divider {
    display: none; /* Ocultar la línea en pantallas grandes */
}

/* Ajustes de diseño responsivo */
@media (max-width: 768px) {
    .blog-post {
        width: calc(50% - 20px);
    }

    .contenido-principal {
        grid-template-columns: 1fr; 
    }

    .navegacion {
        flex-direction: column; /* Cambio de dirección a vertical */
        align-items: center; /* Centrado de elementos */
        gap: 1rem; /* Espacio entre elementos */
    }

    .navegacion__enlace {
        font-size: 2rem; /* Tamaño de fuente aumentado */
    }

    .sidebar-divider {
        display: block;
        border-top: 1px; /* Establecer la línea roja */
        margin-top: 10px; /* Espacio superior para separar la línea */
        color: #ed4624;
    }
    
}

@media (max-width: 480px) {
    .blog-post {
        width: 100%;
    }
}


