<!DOCTYPE html>

<div id="content"></div>
<script>
  fetch('layout.html')
    .then(response => response.text())
    .then(data => {
      document.getElementById('content').innerHTML = data;
    });
</script>
<!--Aplica lo guardado en layout.html-->

{% block content %}
<!--inicia el contenido de la página-->    

<link rel="stylesheet" href="contactUs.css">

<!-- Contact info -->
<section class="about">
    <div class="contact-container">
        <div class="about-container">
            <h2>Información de contacto</h2>
            <p>Correo electrónico: contact@bcctech.in</p>
            <p>Teléfono: +1 (829) 571-1202</p>
            <p>Dirección: Avenida Benigno Filomeno de Rojas #15, Santo Domingo, República Dominicana</p>
        </div>
        <div class="form-container">
            <!-- Contact form -->
            {% include "contact_form.html" %}
        </div>
    </div>
</section>



{% endblock %}
<!--termina el contenido de la página-->
