
/* About Us */
.about {
    background-color: #f0f0f0;
    padding: 10vh 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.about h2 {
    font-size: 2.4vw;
    color: #333;
    margin-bottom: 2vh;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 4vh;
}

.about-container {
    max-width: 45vw;
    text-align: left;
    padding-right: 5vw;
}

.form-container {
    max-width: 50vw;
}

.about p {
    font-size: 1.3vw;
    line-height: 1.6;
    color: #555;
    margin-bottom: 2vh;
}

.about p:last-child {
    margin-bottom: 0;
}

.about-quote {
    font-style: italic;
    color: #777;
    margin-top: 1.5vh;
}

/* Add a decorative separator */
.about-separator {
    width: 15vw;
    height: 0.4vh;
    background-color: #ed4624;
    margin: 1.5vh auto;
}

/* Add a visually appealing call-to-action */
.about-cta {
    margin-top: 2vh;
}

.about-cta a {
    display: inline-block;
    background-color: #ed4624;
    color: #fff;
    padding: 1.5vh 3vw;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.8vw;
    transition: background-color 0.3s;
}

.about-cta a:hover {
    background-color: #ff7e3f;
}
