/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background-image: url('static/Landing1.JPG');
    background-size: cover;
    background-position: top;
    text-align: center;
    padding: 150px 0;
    color: #ffffff;
    margin-top: 80px; /* Ajustar el margen superior para evitar superposición con la barra de navegación */

    
    font-family: Arial, sans-serif;
    /* color: #000000; */
    margin: 0; /* Eliminar márgenes predeterminados del body */
}

.header-container {
    position: fixed; /* Fijar la barra de navegación en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajustar la opacidad según sea necesario */
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Asegurar que la barra de navegación esté sobre otros elementos */
}

header h1 {
    font-size: 36px;
    margin-left: 13px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ed4624;
}

/* Hero section */
.hero {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0; /* Eliminar márgenes predeterminados del body */
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    background-color: #000000;
    border-color: #ed4624;
    color: #ffffff;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff7e3f;
}

/* Services section */
.services {
    background-color: #ffffff;
    padding: 80px 0;
}

.services h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: #333333;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #f5f5f5;
    color: #333333;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-width: 300px;
}

.service-card img {
    max-width: 100px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Footer section */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    font-size: 18px;
}
