/*A: Landing (Menú) */
.landing {
    color: #333333;
    word-wrap: break-word;
}

.landing-container {
    background-image: url(static/FondoOla5.png);
    /* background-color: #000; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    
    color: #000000;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    /* margin-top: 7.5vh;  Para que se pueda ver el menú */
}


/*B: Cube */
@keyframes rotateCube {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lading h1 {
    position: relative;
}

.landing h1 img {
    position: absolute;
    width: 37vw; /* Ajusta el ancho según sea necesario */
    left: 55%;
    top: 22vh;
    transform: translateX(-50%);
    transform-origin: center;
    animation: rotateCube 10s infinite linear;
    transition: transform 0.1s ease; /* Añadida una transición para suavizar la animación */
}


/*B: Stock images */
.landing h2{
    position:absolute; 
}


/*B: Text-title */
.landing h3 {
    font-size: 32px;
    color: #f0f0f0;

    position:absolute; 
    top: 25vh; 
    left: 15vw;
}

/*B: Text-content */
.landing p {
    color: #fff;
    font-size: 24px;
    width: 30vw;

    position:absolute; 
    top: 32vh; 
    left: 11.7vw;
}

/* CSS styles for the circle */
.circle {
    background-color: white; 
    border-radius: 50%; /* Makes the element a circle with a radius of 50%. */

    position: absolute; 
    height: 33vw; 
    width: 33vw; 
    left: 8.7vw; 
    top: 23vh;
}

/*A: Hero section */
.hero {
    background-color: #ffffff;
    text-align: center;
    padding: 22vh 0;
    color: #333333;
}

.hero-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en el contenedor */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

.hero-content {
    flex: 1; /* Permite que este div tome todo el espacio restante */
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    background-color: #ed4624;
    color: #ffffff;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff7e3f;
}

.hero-image img {
    height: 25.7vw;
    margin-right: 7vw;
}


/*A: Redes sociales */
.red {
    background-color: #ed4624;
    height: 23vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
}

.red h2 {
    font-size: 42px;
    padding-top: 4vh;
}

.red-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red-text {
    flex: 1; /* Toma el espacio restante */
    text-align: left;
    padding-left: 3.5vw; /* Ajusta el espaciado a la izquierda */
}

.red-logos {
    display: flex;
    align-items: center;
    padding-top: 6vh;
    margin-right: 40vw;
}

.red h1 {
    margin: 0 1.3vw; /* Espacio entre los logos */
}

.red img {
    width: 5vw;
}


/* Services section */
.services {
    background-color: #fff;
    padding: 8vw 0;
}

.services h2 {
    font-size: 2.7vw;
    text-align: center;
    color: #333333;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr)); /* Columnas de 25vw, con un mínimo de 1fr */
    gap: 2vw;
    justify-content: center;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 10vh;
}

.service-card {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 0.7vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 48vh;
    width: 22vw;
    margin: auto; /* Centro horizontalmente */
}

.service-card img {
    height: 12.2vw;
    margin-bottom: 1vh;
    margin-top: 4vh;
}

.service-card h3 {
    font-size: 1.7vw;
    margin-bottom: 1.7vh;
    color: #ed4624;
}

.service-card p {
    margin-bottom: 3.2vh;
    word-wrap: break-word;
    width: 17vw;
    margin: auto;
}

.service-card:hover {
    transform: translateY(-0.5vw);
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.2);
}

/*A: Clients section */
.clients {
    background-color: #ffffff;
    height: 18vh;

    text-align: center;
    padding: 7vh 0;
    color: #333333;
}
/*B: for logos */
.clients h1 {
    position: relative; 
}

.clients h2 {
    font-size: 48px;
}

.clients p {
    font-size: 24px;
}

.clients img {
    position: relative; 
    width: 12vw; /* Esto ajusta el ancho del logo */
    padding-top: 1.5vh;
    margin: 0 1vw; /* Esto crea espacio entre los logos */
}

