/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero section*/
.hero {
    color: #333333;
    word-wrap: break-word;
}

.hero-container {
    background-image: url(static/Fondo2.png);
    margin-top: auto;
    height: 90.6vh;
    background-size: cover;
    background-position: center;
    color: #000000;
    padding: 2.5% 2%; /* Utilizando porcentajes para adaptabilidad */
    display: flex;
    justify-content: space-between;
    align-items: top;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Cube, Text-title, Text-content */
.hero h2,
.hero h3,
.hero p {
    position: absolute;
}

.hero h3 {
    font-size: 2.7vw;
    top: 65vh;
    left: 9vw;
}

.hero p {
    font-size: 2vw;
    width: 30vw;
    top: 72vh;
    left: 5.7vw;
}

#cube {
    position: absolute;
    width: 43vw; 
    left: 55vw; 
    top: 5vh;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .hero-container {
        height: 90.6vw;
    }

    .hero h3 {
        top: 65vw;
    }

    .hero p {
        top: 72vw;
    }

    #cube{
      top: 25vh;
      width: 53vw; 
      left: 45vw; 
    }

}

/* Block section (reusable simple content section with text, button and image) */
.block {
    background-color: #ffffff;
    text-align: center;
    padding: 22vh 2%; /* Utilizando porcentajes para adaptabilidad */
    color: #333333;
}

.block-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-content {
    flex: 1;
    text-align: center;
}

.block h2 {
    font-size: 4vw;
    margin-bottom: 1.5vh;
}

.block p {
    font-size: 2vw;
    margin-bottom: 3vh;
}

.cta-button {
    display: inline-block;
    background-color: #ed4624;
    color: #ffffff;
    padding: 2.5% 4%; /* Utilizando porcentajes para adaptabilidad */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2vw;
    transition: background-color 0.3s;
}

.block-image img {
    width: 45vw;
    margin-right: 3vw;
    border-radius: 35vw;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .block {
        padding: 15vh 2%; /* Ajustar el padding para pantallas pequeñas */
    }

    .block-container {
        margin-top: 5vh; /* Agregar un margen superior en pantallas pequeñas */
        display: flex;
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center;
        gap: 6vh;
    }
    

    .cta-button {
        padding: 4% 6%; /* Ajustar el padding del botón para pantallas pequeñas */
        font-size: 3vw; /* Ajustar el tamaño del texto del botón para pantallas pequeñas */
    }

    .block-image img {
        width: 70vw; /* Hacer la imagen ocupar el 100% del ancho en pantallas pequeñas */
        margin-right: 0; /* Eliminar el margen derecho en pantallas pequeñas */
        margin-bottom: 3vh; /* Agregar un margen inferior en pantallas pequeñas */
    }
}





/* Redes sociales */
.red {
    background-color: #ed4624;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
}

.red h2 {
    font-size: 2.7vw;
    padding-top: 5%;
}

.red-container {
    display: flex;
    flex-direction: line; /* Cambiado a columna en pantallas pequeñas */
    justify-content: left; /* Centrar verticalmente en pantallas pequeñas */
    align-items: center;
    padding: 3% 0; /* Ajuste de espacio en pantallas pequeñas */
}

.red-text {
    text-align: center; /* Alineación de texto centrado */
    padding: 0 5%; /* Ajuste de espacio horizontal */
}

.red-logos {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente en pantallas pequeñas */
    padding-top: 1%;
}

.red h1 {
    margin: 1vh 0; /* Ajuste de margen en pantallas pequeñas */
}

.red img {
    width: 6vw;
    margin: 1vh 1vw; /* Ajuste de margen entre imágenes en pantallas pequeñas */
}


/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .red h2 {
        font-size: 2em; /* Tamaño del título ajustado para pantallas pequeñas */
    }

    .red-container {
        flex-direction: column; /* Cambiado a columna en pantallas pequeñas */
        padding: 5% 0; /* Ajuste de espacio en pantallas pequeñas */
    }

    .red-text {
        flex: 1;
        text-align: left; /* Alineación de texto en pantallas pequeñas */
    }

    .red-logos {
        flex-direction: line; /* Cambiado a columna en pantallas pequeñas */
        gap: 12%;
    }

    .red h1 {
        margin: 1vh 0; /* Ajuste de margen en pantallas pequeñas */
    }

    .red img {
        width: 8vw; /* Ajuste del tamaño de la imagen en pantallas pequeñas */
        margin: 1vh 0; /* Ajuste de margen en pantallas pequeñas */
    }
}


/* Services section */
.services {
    background-color: #fff;
    padding: 5vh 2%; /* Utilizando porcentajes para adaptabilidad */
}

.services h2 {
    font-size: 1.7em;
    text-align: center;
    color: #333333;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 2vw;
    justify-content: center;
    margin-left: 4vw; /* Ajuste del margen */
    margin-right: 4vw; /* Ajuste del margen */
    margin-top: 8vh;
    margin-bottom: 7vh;
}

.service-card {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 1vw 1vw 0.5vw 0.5vw; /* Ajuste de la esquina redonda */
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 110%;
    width: 90%;
    margin: auto;
}

.service-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 1vh;
    margin-top: 0vh;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0; /* 1vw para las esquinas superiores, 0 para las esquinas inferiores */
}


.service-card h3 {
    font-size: 1.7vw;
    margin-bottom: 1.7vh;
    color: #ed4624;
}

.service-card p {
    margin-bottom: 3.2vh;
    word-wrap: break-word;
    width: 90%;
    margin: auto;
    text-align: center;
}

.service-card:hover {
    transform: translateY(-0.5vw);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
        gap: 7vh; /* Espacio entre las tarjetas */
        margin-left: 2vw; /* Ajuste del margen */
        margin-right: 2vw; /* Ajuste del margen */
    }

    .service-card {
        width: calc(100% - 30vw); /* Ocupa el 100% del ancho con espacio a los lados */
        margin-bottom: 2vw; /* Espacio entre las tarjetas */
    }

    .service-card h3 {
        font-size: 2em; /* Tamaño del título ajustado */
    }

    .service-card p {
        font-size: 1.2em; /* Tamaño del párrafo ajustado */
    }
}

/* Clients section */
.clients {
    background-color: #ffffff;
    height: 18vh;
    text-align: center;
    padding: 7vh 2%; /* Utilizando porcentajes para adaptabilidad */
    color: #333333;
}

.clients h1,
.clients img {
    position: relative;
}

.clients h2 {
    font-size: 4vw;
}

.clients p {
    font-size: 2vw;
}

.clients img {
    width: 6vw;
    padding-top: 1.5vh;
    margin: 0 1vw;
}



