/* Reset y estilos globales */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333333;
}

/* Header styles */
.header-container {
    /* Estilos comunes */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 2%;
    height: 8vh;
    background-color: #000000;
    color: #f0f0f0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    /* Estilos comunes */
    display: flex;
    align-items: center;
}

nav ul {
    /* Estilos comunes */
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    /* Estilos comunes */
    margin: 0 3.5%;
}

nav a {
    /* Estilos comunes */
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em; /* Cambiado a em para mejor adaptabilidad */
    transition: color 0.3s;
}

#blog-link {
    white-space: nowrap; /* Evita el line break */
}

h1 img {
    /* Estilos comunes */
    position: relative;
    max-width: 100%;
    height: auto;
}

/* Agrega estilos específicos para el logo */
.logo {
    max-width: 150px; /* Tamaño máximo para el logo */
    width: 100%; /* Hace que el logo ocupe el 100% de su contenedor */
    height: auto; /* Permite que la altura se ajuste proporcionalmente al ancho */
}

hr.solid {
    /* Estilos comunes */
    border-top: 2.7vh solid #fff;
    width: 0.1%;
    position: relative;
    left: 1.3vw;
}

nav a:hover {
    color: #ed4624;
}

/* Estilo para el botón de hamburguesa */
.menu-toggle {
    display: none; /* Oculta el botón de hamburguesa de forma predeterminada */
    cursor: pointer;
    font-size: 1.5em;
    color: #ffffff;
    margin-right: 15px;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    /* Estilo para el botón de hamburguesa */
    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 1.5em;
        color: #ffffff;
        margin-right: 15px;
        order: 2; /* Cambia el orden a 2 para que aparezca a la derecha */
    }

    nav ul {
        display: none;
        order: 1; /* Cambia el orden a 1 para que aparezca a la izquierda */
    }

    nav.active ul {
        /* Estilos del menú desplegable */
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8); /* Cambia el valor alfa según tus preferencias (0 es completamente transparente, 1 es completamente opaco) */
        z-index: 1;
    }

    nav.active ul li {
        padding: 10px;
        text-align: center;
    }

    hr.solid {
        display: none;
    }
}

/* Footer section */
footer {
    background-color: #2d2c2c;
    color: #ffffff;
    text-align: center;
    padding: 2vh 0;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-container {
    max-width: 80%;
    margin: 0 auto;
}

footer p {
    font-size: 1em;
}
