
/*A: Block section (reusable simple content section with text, button and image) */
.block {
    background-color: #ffffff;
    text-align: center;
    padding: 11.5vh 2%; /* Utilizando porcentajes para adaptabilidad */
    color: #333333;
}

.block-container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en el contenedor */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

.block-content {
    font-size: 1.3vw;
    line-height: 1.6;
    width: 40vw;
    text-align: left;
    margin: auto;
    color: #333333;
    word-wrap: break-word;    
}

.block h2 {
    font-size: 2.5em;
    margin-bottom: 4vh;
}

.block p {
    font-size: 1.3em;
    margin-bottom: 2vh;
}

.cta-button {
    display: inline-block;
    background-color: #ed4624;
    color: #ffffff;
    padding: 2.5% 4%; /* Utilizando porcentajes para adaptabilidad */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2vw;
    transition: background-color 0.3s;
}

.block-image img {
    height: 25.7vw;
    margin-right: 3vw;
    border-radius: 1vw;
    margin-left: 7vw;
}

/*B: Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .block {
        padding: 5vh 2%; /* Ajustar el padding para pantallas pequeñas */
    }

    .block-container {
        margin-top: 5vh; /* Agregar un margen superior en pantallas pequeñas */
        display: flex;
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center;
        gap: 0vh;
    }

    .block-content {
        font-size: 1.3vw;
        line-height: 1.6;
        width: 80%;
        text-align: left;
        margin: auto;
        color: #333333;
        word-wrap: break-word;    
    }

    .block h2 {
        font-size: 4em;
        margin-bottom: 4vh;
    }
    
    .block p {
        font-size: 2.5em;
        margin-bottom: 2vh;
        width: 70vw;
    }

    .cta-button {
        padding: 4% 6%; /* Ajustar el padding del botón para pantallas pequeñas */
        font-size: 3vw; /* Ajustar el tamaño del texto del botón para pantallas pequeñas */
    }

    .block-image img {
        width: 80%; /* Hacer la imagen ocupar el 100% del ancho en pantallas pequeñas */
        height: 80%;
        margin-right: 0; /* Eliminar el margen derecho en pantallas pequeñas */
    }

    #servimg {
        width: 90%;
        height: 100%;
    }
}


/* About Us section */
.about {
    background-color: #fff;
    padding: 5% 2%; /* Ajustado a porcentajes para mejor adaptabilidad */
}

.about h2 {
    font-size: 2em; /* Cambiado a em para mejor adaptabilidad */
    color: #333;
    margin-bottom: 3vh; /* Reducido el espacio inferior */
    text-align: center;
}

.about-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

.about p {
    font-size: 1.2em; /* Cambiado a em para mejor adaptabilidad */
    line-height: 1.6; /* Unidad sin medida para mejor adaptabilidad */
    max-width: 55%; /* Ajustado a porcentaje para mejor adaptabilidad */
    text-align: left;
    margin: 2vh auto; /* Ajustado el espacio */
    color: #555;
}

.about ul{
    font-size: 1.2em;
    max-width: 55%; /* Ajustado a porcentaje para mejor adaptabilidad */
    margin: 2vh auto; /* Ajustado el espacio */

}

.about p:last-child {
    margin-bottom: 0;
}

.about-quote {
    font-style: italic;
    color: #777;
    margin-top: 1vh;
}

/* Add a decorative separator */
.about-separator {
    width: 10%;
    height: 0.3vw;
    background-color: #ed4624;
    margin: 1.5vh auto; /* Ajustado el espacio vertical */
}

/* Add a visually appealing call-to-action */
.about-cta {
    margin-top: 2vh;
}

.about-cta a {
    display: inline-block;
    background-color: #ed4624;
    color: #fff;
    padding: 2vh 4%; /* Ajustado a porcentaje y vh para mejor adaptabilidad */
    text-decoration: none;
    border-radius: 0.5vw;
    font-weight: bold;
    font-size: 1em; /* Cambiado a em para mejor adaptabilidad */
    transition: background-color 0.3s;
}

.about-cta a:hover {
    background-color: #ff7e3f;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    
    .about p {
        font-size: 1em; /* Cambiado a em para mejor adaptabilidad */
        max-width: 100%; /* Ajustado a porcentaje para mejor adaptabilidad */
        margin: 2vh 15%; /* Ajustado el espacio */
    }

    .about ul{
        font-size: 1em;
        max-width: 100%; /* Ajustado a porcentaje para mejor adaptabilidad */
        margin: 2vh 15%; /* Ajustado el espacio */

    }
}


/* Services section */
.services {
    background-color: #f0f0f0;
    padding: 5vh 2%; /* Utilizando porcentajes para adaptabilidad */
}

.services h2 {
    font-size: 1.7em;
    text-align: center;
    color: #333333;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 2vw;
    row-gap: 15vh; /* Espacio vertical entre las tarjetas */
    justify-content: center;
    margin-left: 6vw; /* Ajuste del margen */
    margin-right: 6vw; /* Ajuste del margen */
    margin-top: 8vh;
    margin-bottom: 7vh;
}

.service-card {
    background-color: #fff;
    color: #000;
    border-radius: 0.7vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 120%;
    width: 100%;
    margin: auto; /* Centro horizontalmente */
}

.service-card img {
    width: 60%;
    height: 60%;
    margin-bottom: 1vh;
    margin-top: 0vh;
    object-fit: cover;
    border-radius: 1vw 1vw 0 0; /* 1vw para las esquinas superiores, 0 para las esquinas inferiores */
}


.service-card h3 {
    font-size: 1.7vw;
    margin-bottom: 1vh;
    color: #ed4624;
}

.service-card p {
    margin-bottom: 3.2vh;
    word-wrap: break-word;
    width: 90%;
    margin: auto;
    text-align: center;
}

.service-card:hover {
    transform: translateY(-0.5vw);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
        row-gap: 15vh; /* Espacio vertical entre las tarjetas */
        margin-left: 2vw; /* Ajuste del margen */
        margin-right: 2vw; /* Ajuste del margen */
    }

    .service-card {
        width: calc(100% - 30vw); /* Ocupa el 100% del ancho con espacio a los lados */
        margin-bottom: 2vw; /* Espacio entre las tarjetas */
    }

    .service-card h3 {
        font-size: 2em; /* Tamaño del título ajustado */
    }

    .service-card p {
        font-size: 1.2em; /* Tamaño del párrafo ajustado */
    }
}

